<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaker.ssi.sys.mapper.SysGroupMapper">
    <select id="selectListByPage" resultType="com.breaker.ssi.sys.entity.SysGroup">
        select
        t_group.*,
        create_user.username as createBy,
        update_user.username as updateBy
        from sys_group t_group
        left join sys_user create_user on create_user.business_id = t_group.create_by
        left join sys_user update_user on update_user.business_id = t_group.update_by
        where t_group.del_flag = 0
        <if test="keyword != null and keyword != ''">
            and (
            t_group.name like concat('%', #{keyword}, '%')
            or
            t_group.code like concat('%', #{keyword}, '%')
            )
        </if>
        order by t_group.create_time desc
    </select>
</mapper>
