<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaker.ssi.sys.mapper.SysRoleMapper">

    <select id="getRolesByUserId" resultType="com.breaker.ssi.sys.dto.SimpleCommonDto">
      select
        sr.business_id,
        sr.name,
        sr.code
      from sys_user_role sur
        left join sys_role sr on sr.business_id = sur.role_id
      where sur.user_id = #{userId}
    </select>

    <resultMap id="roleMap" type="com.breaker.ssi.sys.dto.RoleListDto">
        <id property="businessId" column="BUSINESS_ID"></id>
        <collection property="accessList" column="business_id" select="getAccessList">
        </collection>
    </resultMap>

    <select id="getAccessList" resultType="com.breaker.ssi.sys.dto.CommonDto">
      select
        t_access.*
      from
        sys_role_access t_role_access
        left join sys_access t_access on t_access.business_id = t_role_access.access_id
      where
        t_role_access.role_id = #{business_id}
    </select>

    <select id="getRolesWithAccess" resultMap="roleMap">
      select
        *,
        t_user_update.username as updateBy,
        t_user_create.username as createBy
      from
        SYS_ROLE t_role
        left join SYS_USER t_user_update on t_role.update_by = t_user_update.business_id
        left join SYS_USER t_user_create on t_role.create_by = t_user_create.business_id
      <if test="keyword != null and keyword != ''">
        where
          t_role.name like concat('%', #{keyword}, '%')
          or
          t_role.code like concat('%', #{keyword}, '%')
      </if>
        order by t_role.create_time desc
    </select>

</mapper>
