<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaker.ssi.sys.mapper.SysUserMapper">

    <resultMap id="userMap" type="com.breaker.ssi.sys.dto.UserListDto">
        <id property="userId" column="user_id"></id>
        <collection property="roleList" column="{userId=user_id}" select="getRoleList"></collection>
        <collection property="groupList" column="{userId=user_id}" select="getGroupList"></collection>
    </resultMap>

    <select id="getRoleList" resultType="com.breaker.ssi.sys.dto.CommonDto">
      select
        t_role.*
      from
        sys_user_role t_user_role
        left join sys_role t_role on t_role.business_id = t_user_role.role_id
      where
        t_user_role.user_id = #{userId}
    </select>

    <select id="getGroupList" resultType="com.breaker.ssi.sys.dto.CommonDto">
      select
        t_group.*
      from
        sys_user_group t_user_group
        left join sys_group t_group on t_group.business_id = t_user_group.group_id
      where
        t_user_group.user_id = #{userId}
    </select>

    <select id="getUsersWithRoleAndGroup" resultMap="userMap">
        select
          t_userinfo.*,
          t_user.username,
          t_user_update.username as updateBy,
          t_user_create.username as createBy
        from SYS_USER_INFO t_userinfo
          left join SYS_USER t_user_update on t_userinfo.update_by = t_user_update.business_id
          left join SYS_USER t_user_create on t_userinfo.create_by = t_user_create.business_id
          right join SYS_USER t_user ON t_user.business_id = t_userinfo.user_id
        where t_userinfo.del_flag != 1
        <if test="roleId != null and roleId != ''">
          and t_userinfo.user_id in (
            select
              t_user_role.user_id
            from
              SYS_USER_ROLE t_user_role
            WHERE t_user_role.role_id = #{roleId}
            )
        </if>
        <if test="groupId != null and groupId != ''">
            and t_userinfo.user_id in (
            select
            t_user_group.user_id
            from
            SYS_USER_GROUP t_user_group
            WHERE t_user_group.group_id = #{groupId}
            )
        </if>
        <if test="keyword != null and keyword != ''">
            and (
            t_user.username like concat('%', #{keyword}, '%')
            or
            t_userinfo.nick_name like concat('%', #{keyword}, '%')
            or
            t_userinfo.real_name like concat('%', #{keyword}, '%')
            )
        </if>
    </select>

</mapper>
