<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaker.ssi.sys.mapper.SysUserRoleMapper">

    <select id="selectRolesByUser" resultType="java.lang.String">
        select
          t_access.code
        from sys_role_access t_roleAccess
          left join sys_access t_access on t_access.business_id = t_roleAccess.access_id
        where
          t_roleAccess.role_id in
        (
          select
            t_userRole.role_id
          from sys_user_role t_userRole
          where t_userRole.user_id = #{userId}
        )
    </select>


</mapper>
